@import "tailwindcss";

:root {
  --color-primary: #111827;
  --color-secondary: #c5a36c;
  --color-background: #faf9f6;
}

body {
  font-family: "Inter", sans-serif;
  color: #1a1a1a;
  background-color: #faf9f6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
